.section_banner_as {
  display: flex;
  justify-content: center;
  margin-top: clamp(150px, 15vw, 200px);
  margin-bottom: clamp(100px, 15vw, 200px);
  color: white;
  .container_banner_as,
  .container_banner_as_adaptive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    gap: 20px;
    a {
      h6 {
        width: fit-content;
        padding: clamp(4px, 1.5vw, 12px) clamp(15px, 3vw, 30px);
        margin-top: clamp(10px, 2.5vw, 40px);
        border-radius: 12px;
        background: linear-gradient(
          120deg,
          rgba(0, 254, 203, 1) 0%,
          rgb(112, 231, 144) 100%
        );
      }
    }
    img {
      width: clamp(250px, 53vw, 600px);
    }
    h2 {
      span {
        color: transparent;
        background-image: linear-gradient(
          120deg,
          rgba(0, 254, 203, 1) 0%,
          rgb(112, 231, 144) 100%
        );
        background-clip: text;
      }
    }
  }
  .container_banner_as_adaptive {
    display: none;
  }
}
@media (max-width: 560px) {
  .section_banner_as {
    .container_banner_as {
      display: none;
    }
    .container_banner_as_adaptive {
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
      }
      h2 {
        text-align: center;
      }
    }
  }
}
