.container_pages {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  .select_item_page,
  .item_page {
    display: flex;
    padding: 0px 20px;
    border-radius: 24px;
    .page {
      min-width: 100%;
      min-height: 100%;
      border-radius: 24px;
      background-position: center;
      background-repeat: no-repeat;
      .container_content_page {
        opacity: 0;
        display: flex;
        width: 100%;
        height: 100%;
        color: white;
        background-color: rgba(0, 0, 0, 0.552);
        .container_text {
          display: flex;
          align-items: start;
          justify-content: space-between;
          width: 100%;
          margin-top: 48%;
          padding: 0 5%;

          h5 {
            max-width: 50%;
          }
          a {
            cursor: pointer;
            padding: clamp(4px, 1.5vw, 12px) clamp(15px, 3vw, 30px);
            font-weight: 500;
            color: white;
            background-color: black;
            border: none;
            border-radius: clamp(10px, 3vw, 16px);
          }
        }
        &:hover {
          animation: viewInfoBanner 0.2s ease forwards;
        }
      }
    }
  }
}
@keyframes viewInfoBanner {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@media (max-width: 960px) {
  .container_page {
    margin: 0px clamp(0px, 12.5vw, 150px);
  }
}
@keyframes select_page_item {
  0% {
    min-width: clamp(160px, 65vw, 850px);
    min-height: clamp(90px, 45vw, 500px);
  }
  100% {
    min-width: clamp(200px, 70vw, 900px);
    min-height: clamp(100px, 50vw, 550px);
  }
}
@keyframes small_page_item {
  0% {
    min-width: clamp(200px, 70vw, 900px);
    min-height: clamp(100px, 50vw, 550px);
  }
  100% {
    min-width: clamp(160px, 65vw, 850px);
    min-height: clamp(90px, 45vw, 500px);
  }
}
