.container_pages {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0px clamp(80px, 12vw, 150px);
  gap: clamp(15px, 4vw, 50px);

  .select_item_page,
  .item_page {
    border-radius: 24px;
  }
  .select_item_page {
    animation: select_page_item 0.2s ease forwards;
  }
  .item_page {
    animation: small_page_item 0.2s ease forwards;
    transition: all 0.2s ease;
  }
}
@media (max-width: 720px) {
  .container_pages {
    margin: 0px clamp(70px, 11.5vw, 90px);
  }
}
@media (max-width: 600px) {
  .container_pages {
    margin: 0px clamp(80px, 12.5vw, 85px);
  }
}
@media (max-width: 460px) {
  .container_pages {
    margin: 0px clamp(95px, 22.5vw, 95px);
  }
}
@keyframes select_page_item {
  0% {
    min-width: clamp(160px, 65vw, 850px);
    min-height: clamp(90px, 45vw, 500px);
  }
  100% {
    min-width: clamp(200px, 70vw, 900px);
    min-height: clamp(100px, 50vw, 550px);
  }
}
@keyframes small_page_item {
  0% {
    min-width: clamp(200px, 70vw, 900px);
    min-height: clamp(100px, 50vw, 550px);
  }
  100% {
    min-width: clamp(160px, 65vw, 850px);
    min-height: clamp(90px, 45vw, 500px);
  }
}
