.section_modal_window {
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.512);
  .modal_window {
    padding: clamp(50px, 20vw, 100px) clamp(60px, 20vw, 120px);
    border-radius: 12px;
    background-color: white;
    .container_btn {
      display: flex;
      justify-content: center;
      margin-top: 10%;
      gap: 20px;
    }
  }
}
