button {
  cursor: pointer;
  padding: clamp(4px, 1.5vw, 12px) clamp(15px, 3vw, 30px);
  font-weight: 500;
  color: white;
  background-color: black;
  border: none;
  border-radius: clamp(10px, 3vw, 16px);
}
