.container_range_input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .container_input {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 14px;
    .line {
      width: 20px;
      height: 2px;
      background-color: black;
    }
    .container_item_input {
      z-index: 4;
      h6 {
        top: 0px;
        position: absolute;
        font-weight: 400;
        line-height: 12px;
      }
      input {
        font-size: clamp(14px, 1.5vw, 18px);
        font-weight: 500;
        width: 100%;
        padding: 5px 2px;
        outline: none;
        text-align: center;
        border: 1px solid black;
        border-radius: 8px;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
  }
  .container_range {
    width: 96%;
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    .ball {
      z-index: 5;
      margin: 10px 0px;
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 16px;
      background-color: black;
      &:first-child {
        left: 0px;
      }
      &:last-child {
        left: 100%;
      }
    }
    .line {
      width: 100%;
      height: 3px;
      background-color: black;
    }
  }
}
