.container_header {
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  margin: 0px 15px;
  .logo {
    img {
      width: clamp(100px, 22vw, 250px);
    }
  }
  .container_links {
    position: relative;
    a,
    button {
      display: flex;
      align-items: center;
      padding: 0;
      gap: 10px;
      img {
        height: 21px;
        object-fit: contain;
      }
      h6 {
        font-weight: 500;
      }
    }
    .container_drop_catalog {
      position: absolute;
      overflow: hidden;
      padding-top: 32px;
      margin-left: -40px;
      min-height: 100%;
      animation: dropHeaderContent 0.8s ease forwards;
      .container_products_links {
        display: flex;
        padding: 30px 40px;
        border-radius: 15px;
        background-color: black;
        .products_links {
          display: flex;
          flex-direction: column;
          gap: 20px;
          &:nth-child(1) {
            width: clamp(170px, 15vw, 200px);
          }
          &:nth-child(2) {
            overflow: hidden;
            animation: dropHeaderProductsContent 0.5s ease forwards;
            h6 {
              text-wrap: nowrap;
            }
          }
          .select {
            opacity: 100%;
          }
          .dont_select {
            opacity: 30%;
          }
        }
      }
    }
    .links {
      display: flex;
      gap: 45px;
    }
  }
  .burger_menu {
    display: none;
    .btn_burger_menu {
      outline: none;
      border: none;
      background-color: transparent;
      img {
        width: clamp(12px, 3.5vw, 30px);
      }
    }
  }
}
@keyframes dropHeaderProductsContent {
  0% {
    width: 0px;
    max-height: 0px;
  }
  100% {
    width: clamp(180px, 15vw, 240px);
    max-height: 300px;
  }
}
@keyframes closeHeaderContent {
  0% {
    top: 20px;
    max-height: 300px;
  }
  100% {
    top: 0px;
    max-height: 0px;

  }
}
@keyframes dropHeaderContent {
  0% {
    top: 0px;
    max-height: 0px;
  }
  100% {
    top: 20px;
    max-height: 300px;
  }
}
