.header_burger {
  z-index: 5;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.298);
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  overflow-y: auto;
  a {
    color: white;
  }
  .nav {
    overflow: scroll;
    position: absolute;
    display: flex;
    justify-content: right;
    right: 0;
    width: 40%;
    height: 83%;
    padding-top: 20px;
    padding-left: clamp(40px, 10vw, 60px);
    padding-bottom: 50px;
    background-color: black;
    transition: all 0.5s ease;
    transform: translateX(100%);
  }
  .drop_burger_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: max-content;
    width: 100%;
    gap: 22px;
    transition: all 0.2s ease;
    transform: translateX(0%);
    .container_items_header {
      display: flex;
      flex-direction: column;
      gap: 22px;
    }
    .container_contact {
      display: flex;
      flex-direction: column;
      gap: 15px;
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          object-fit: contain;
          width: 22px;
        }
      }
    }
    .container_selected {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .selected {
        .container_selected_links {
          display: flex;
          flex-direction: column;
          margin-left: 35px;
          gap: 10px;
          .container_selected_links {
            margin-top: 10px;
            margin-left: clamp(10px, 4.5vw, 20px);
            a {
              &::before {
                content: "-";
              }
            }
          }
        }
      }
    }
    a,
    button {
      display: flex;
      align-items: center;
      padding: 0;
      gap: 10px;
      .text_link {
        font-weight: 600;
      }
    }
  }
}
@keyframes openDropHeader {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@media (max-width: 520px) {
  .header_burger {
    .nav {
      width: 72%;
    }
  }
}
