.header_fixed {
  position: fixed;
  top: -100%;
  transition: all 0.5s ease;
}
.header,
.header_fixed {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0px;
  background-color: black;
  transition: all 0.2s ease;
  z-index: 10;
  a {
    color: white;
  }
}

@media (max-width: 960px) {
  header {
    .container_header {
      .container_links {
        display: none;
      }
      .burger_menu {
        display: block;
      }
    }
  }
}
