.section_display {
  display: flex;
  justify-content: center;
  margin: 0px 20px;
  margin-top: clamp(60px, 15vw, 200px);
  color: white;
  .container_display {
    display: flex;
    width: 1200px;
    gap: clamp(10px, 5vw, 150px);
    img {
      width: clamp(100px, 25vw, 280px);
      object-fit: contain;
    }
    .container_text {
      display: flex;
      flex-direction: column;
      gap: clamp(4px, 1.5vw, 20px);
      .gradient_text {
        color: transparent;
        background: linear-gradient(
          120deg,
          rgba(0, 254, 203, 1) 0%,
          rgb(112, 231, 144) 100%
        );
        background-clip: text;
        background-size: 150% 150%;
      }
      p {
        text-align: left;
      }
    }
  }
}
