footer {
  display: flex;
  justify-content: center;
  padding: clamp(40px, 5vw, 80px) 20px;
  color: white;
  background-color: black;
  a {
    color: white;
  }
  .container_footer {
    width: 1400px;
    .container_warning {
      margin-top: 20px;
      max-width: 300px;
      h6 {
        font-weight: 500;
        color: rgb(150, 150, 150);
      }
    }
    .container_nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;
      .container_links {
        display: flex;
        flex-direction: column;
        gap: clamp(8px, 1.5vw, 12px);
        .a_contact {
          display: flex;
          align-items: center;
          gap: clamp(10px, 1.5vw, 15px);
          img {
            object-fit: contain;
            width: clamp(15px, 3vw, 22px);
          }
        }
        .links {
          display: flex;
          gap: clamp(20px, 5vw, 30px);
          a {
            h6 {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
