.section_order_registration {
  top: 0;
  z-index: 20;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.333);
  .window_order_registration {
    overflow-y: scroll;
    max-height: 90%;
    padding: clamp(10px, 3vw, 40px) clamp(15px, 3vw, 60px);
    margin: 2% 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    input {
      width: 100%;
      box-sizing: border-box;
    }
    &::-webkit-scrollbar {
      width: 5px;
      background: rgba(255, 255, 255, 0);
    }
    &::-webkit-scrollbar-thumb {
      background: black;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
      margin: 7px;
      background: rgba(255, 255, 255, 0);
    }

    .container_pay_way,
    .container_place_of_receipt {
      display: flex;
      flex-wrap: wrap;
      margin-top: clamp(5px, 1.5vw, 15px);
      .btn_active {
        color: white;
        background-color: black;
      }
      .btn_disable {
        color: black;
        background-color: white;
      }
      button {
        border: 1px solid black;
        border-radius: 0;
        &:first-child {
          border-radius: 8px 0px 0px 8px;
        }
        &:last-child {
          border-radius: 0px 8px 8px 0px;
        }
      }
    }
    .container_order_registration {
      display: flex;
      flex-direction: column;
      gap: clamp(10px, 2vw, 25px);
      margin: clamp(10px, 2vw, 25px) clamp(15px, 2vw, 30px);
      max-width: clamp(260px, 60vw, 500px);
      .title_item {
        position: relative;
        &::before {
          position: absolute;
          left: -15px;
          content: "-";
        }
      }
      .container_inputs_info {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: clamp(5px, 1.5vw, 10px);
      }
      .container_coordinate_info {
        .container_point_shop {
          display: flex;
          flex-direction: column;
          margin-top: clamp(5px, 1.5vw, 15px);
          gap: clamp(5px, 1.5vw, 10px);
          .container_radio_input {
            padding: clamp(5px, 1.6vw, 12px) clamp(8px, 1.6vw, 20px);
            border: 1px solid black;
            border-radius: 12px;
            .item_point_shop {
              display: flex;
              align-items: center;
              gap: 15px;
            }
          }
        }
      }
      .container_pay {
        .container_payment_method {
          margin-top: clamp(5px, 1.5vw, 15px);
          .bank_card {
            max-width: 350px;
            max-height: 200px;
            width: 100%;
            height: 100%;
            padding: clamp(8px, 3vw, 20px) 0px;
            border-radius: 12px;
            background-color: black;
            .container_info {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding: clamp(15px, 3vw, 20px);
              gap: clamp(10px, 2.5vw, 20px);
              color: white;
              .container_input {
                input {
                  width: 100%;
                }
                h6 {
                  font-weight: 500;
                }
              }
              .flex_info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
              }
              input {
                padding-left: 0;
                padding-right: 0;
                color: white;
                background-color: black;
                border: 0;
                border-radius: 0;
                border-bottom: 1px solid white;
              }
            }
          }
        }
      }
      .container_promo {
        input {
          margin-top: clamp(5px, 1.5vw, 15px);
        }
      }
      .container_result {
        margin-top: clamp(5px, 1.5vw, 15px);
        text-align: left;
        .result {
          display: flex;
          flex-direction: column;
          max-width: max-content;
          margin-top: clamp(5px, 1.5vw, 15px);
          h5 {
            text-decoration: line-through;
          }
        }
      }
      .container_send {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h6 {
          animation: trigerWarning 3s ease forwards;
        }
        .container_btn_send {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .btn_send,
          .btn_close {
            border: 1px solid black;
            padding: clamp(5px, 1.5vw, 12px) clamp(15px, 2vw, 30px);
          }
          .btn_close {
            color: black;
            background-color: white;
          }
        }
      }
    }
  }
}
@keyframes trigerWarning {
  0% {
    color: red;
  }
  25% {
    color: white;
  }
  50% {
    color: red;
  }
  75% {
    color: white;
  }
  100% {
    color: red;
  }
}
@media (max-width: 560px) {
  .section_order_registration {
    .window_order_registration {
      .container_order_registration {
        max-width: 100%;
      }
    }
  }
}
@media (max-width: 360px) {
  .section_order_registration {
    .window_order_registration {
      .container_pay_way {
        gap: 5px;
      }
    }
  }
}
