html {
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 5px;
    background: rgb(255, 255, 255);
  }
  &::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
  }
}

body {
  margin: 0;
  background-color: black;
}
p {
  font-size: clamp(11px, 1.6vw, 20px);
  line-height: clamp(14px, 2.8vw, 36px);
}
.p_big_text {
  font-weight: 500;
}
h2 {
  font-size: clamp(24px, 2.5vw, 48px);
  text-transform: uppercase;
}
h3 {
  font-size: clamp(18px, 2.7vw, 40px);
}
h4 {
  font-size: clamp(16px, 2.5vw, 28px);
}
h5 {
  font-size: clamp(14px, 2vw, 22px);
}
h6 {
  font-size: clamp(12px, 2vw, 16px);
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
input {
  margin: 0;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 1.2px;
}
a {
  color: black;
  text-decoration: none;
}
