.section_banner_ad {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: clamp(150px, 15vw, 200px);
  background: linear-gradient(
    90deg,
    rgba(0, 254, 203, 1) 0%,
    rgb(112, 231, 144) 100%
  );
  .container_banner_ad {
    display: flex;
    align-items: center;
    width: 1200px;
    gap: clamp(20px, 5vw, 80px);
    img {
      width: clamp(180px, 32vw, 480px);
      object-fit: contain;
    }
    .container_text_banner_ad {
      display: flex;
      flex-direction: column;
      gap: clamp(2px, 1.2vw, 20px);
      .container_price {
        display: flex;
        align-items: center;
        gap: clamp(2px, 1.2vw, 20px);
        a {
          h4 {
            font-weight: 800;
          }
        }
      }
    }
  }
}
@media (max-width: 460px) {
  .section_banner_ad {
    .container_banner_ad {
      img {
        margin-left: -40px;
      }
    }
  }
}
